@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6 text-center" style="background: #589EE4">
        <div class="panel-body" style="padding: 200px 20px">
            <h1>Scavenger</h1>
            <img src="~/images/people.png" />
            <div style="padding-top: 10px">
                <a class="btn btn-default btn-lg" href="~/com.polaris.scavenger-Signed.apk">Download for Android</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center" style="background: #ED6152">
        <div class="panel-body" style="padding: 200px 20px">
            <h1>Guide</h1>
            <img width="128px" src="~/images/computer-icon.png" />
            <div style="padding-top: 10px">
                <a class="btn btn-default btn-lg" href="~/Scavenger Guide - Normal.zip">Download for Windows</a>
                <a class="btn btn-default btn-lg" href="~/Scavenger Guide - VR.zip">Download for Windows (VR Support)</a>
            </div>
        </div>
    </div>
</div>